
<!DOCTYPE html>
<html lang="cs-CZ">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o||n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({1:[function(e,n,t){function r(){}function o(e,n,t){return function(){return i(e,[c.now()].concat(u(arguments)),n?null:this,t),n?void 0:this}}var i=e("handle"),a=e(2),u=e(3),f=e("ee").get("tracer"),c=e("loader"),s=NREUM;"undefined"==typeof window.newrelic&&(newrelic=s);var p=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],d="api-",l=d+"ixn-";a(p,function(e,n){s[n]=o(d+n,!0,"api")}),s.addPageAction=o(d+"addPageAction",!0),s.setCurrentRouteName=o(d+"routeName",!0),n.exports=newrelic,s.interaction=function(){return(new r).get()};var m=r.prototype={createTracer:function(e,n){var t={},r=this,o="function"==typeof n;return i(l+"tracer",[c.now(),e,t],r),function(){if(f.emit((o?"":"no-")+"fn-start",[c.now(),r,o],t),o)try{return n.apply(this,arguments)}finally{f.emit("fn-end",[c.now()],t)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,n){m[n]=o(l+n)}),newrelic.noticeError=function(e){"string"==typeof e&&(e=new Error(e)),i("err",[e,c.now()])}},{}],2:[function(e,n,t){function r(e,n){var t=[],r="",i=0;for(r in e)o.call(e,r)&&(t[i]=n(r,e[r]),i+=1);return t}var o=Object.prototype.hasOwnProperty;n.exports=r},{}],3:[function(e,n,t){function r(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(o<0?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=r},{}],4:[function(e,n,t){n.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],ee:[function(e,n,t){function r(){}function o(e){function n(e){return e&&e instanceof r?e:e?f(e,u,i):i()}function t(t,r,o,i){if(!d.aborted||i){e&&e(t,r,o);for(var a=n(o),u=m(t),f=u.length,c=0;c<f;c++)u[c].apply(a,r);var p=s[y[t]];return p&&p.push([b,t,r,a]),a}}function l(e,n){v[e]=m(e).concat(n)}function m(e){return v[e]||[]}function w(e){return p[e]=p[e]||o(t)}function g(e,n){c(e,function(e,t){n=n||"feature",y[t]=n,n in s||(s[n]=[])})}var v={},y={},b={on:l,emit:t,get:w,listeners:m,context:n,buffer:g,abort:a,aborted:!1};return b}function i(){return new r}function a(){(s.api||s.feature)&&(d.aborted=!0,s=d.backlog={})}var u="nr@context",f=e("gos"),c=e(2),s={},p={},d=n.exports=o();d.backlog=s},{}],gos:[function(e,n,t){function r(e,n,t){if(o.call(e,n))return e[n];var r=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return e[n]=r,r}var o=Object.prototype.hasOwnProperty;n.exports=r},{}],handle:[function(e,n,t){function r(e,n,t,r){o.buffer([e],r),o.emit(e,n,t)}var o=e("ee").get("handle");n.exports=r,r.ee=o},{}],id:[function(e,n,t){function r(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:a(e,i,function(){return o++})}var o=1,i="nr@id",a=e("gos");n.exports=r},{}],loader:[function(e,n,t){function r(){if(!x++){var e=h.info=NREUM.info,n=d.getElementsByTagName("script")[0];if(setTimeout(s.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&n))return s.abort();c(y,function(n,t){e[n]||(e[n]=t)}),f("mark",["onload",a()+h.offset],null,"api");var t=d.createElement("script");t.src="https://"+e.agent,n.parentNode.insertBefore(t,n)}}function o(){"complete"===d.readyState&&i()}function i(){f("mark",["domContent",a()+h.offset],null,"api")}function a(){return E.exists&&performance.now?Math.round(performance.now()):(u=Math.max((new Date).getTime(),u))-h.offset}var u=(new Date).getTime(),f=e("handle"),c=e(2),s=e("ee"),p=window,d=p.document,l="addEventListener",m="attachEvent",w=p.XMLHttpRequest,g=w&&w.prototype;NREUM.o={ST:setTimeout,SI:p.setImmediate,CT:clearTimeout,XHR:w,REQ:p.Request,EV:p.Event,PR:p.Promise,MO:p.MutationObserver};var v=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1044.min.js"},b=w&&g&&g[l]&&!/CriOS/.test(navigator.userAgent),h=n.exports={offset:u,now:a,origin:v,features:{},xhrWrappable:b};e(1),d[l]?(d[l]("DOMContentLoaded",i,!1),p[l]("load",r,!1)):(d[m]("onreadystatechange",o),p[m]("onload",r)),f("mark",["firstbyte",u],null,"api");var x=0,E=e(4)},{}]},{},["loader"]);</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ecstaticdancedelft</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://ecstaticdancedelft.azurewebsites.net/Content/style.css" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="ecstaticdancedelft &raquo; RSS komentářů pro Úvodní stránka" href="http://ecstaticdancedelft.azurewebsites.net/?feed=rss2&#038;page_id=6" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/ecstaticdancedelft.azurewebsites.net\/Scripts\/wp-emoji-release.min.js?ver=4.7" } };
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='ve-content-style-css' href='http://ecstaticdancedelft.azurewebsites.net/Content/content.css?ver=1508289305' type='text/css' media='all' />
    <link rel='stylesheet' id='mioweb_content_css-css' href='http://ecstaticdancedelft.azurewebsites.net/Content/content.css?ver=1508289305' type='text/css' media='all' />
    <link rel='stylesheet' id='member_content_css-css' href='http://ecstaticdancedelft.azurewebsites.net/Content/content.css?ver=1508289305' type='text/css' media='all' />
    <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/front.js?ver=1508289305'></script>
    <link rel='https://api.w.org/' href='http://ecstaticdancedelft.azurewebsites.net/?rest_route=/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ecstaticdancedelft.azurewebsites.net/xmlrpc.php?rsd" />
    <link rel='shortlink' href='http://ecstaticdancedelft.azurewebsites.net/' />
    <link rel="alternate" type="application/json+oembed" href="http://ecstaticdancedelft.azurewebsites.net/?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2Fecstaticdancedelft.azurewebsites.net%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://ecstaticdancedelft.azurewebsites.net/?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2Fecstaticdancedelft.azurewebsites.net%2F&#038;format=xml" />
    <link rel="icon" type="image/png" href="http://ecstaticdancedelft.azurewebsites.net/Images/A3-poster-ED.jpg">
    <link rel="apple-touch-icon" href="http://ecstaticdancedelft.azurewebsites.net/Images/A3-poster-ED.jpg">

    <meta property="og:title" content="" />


    <meta property="og:url" content="http://ecstaticdancedelft.azurewebsites.net/" />
    <meta property="og:site_name" content="ecstaticdancedelft" />
    <meta property="og:locale" content="cs_CZ" />

    <link rel="canonical" href="http://ecstaticdancedelft.azurewebsites.net/" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!--[if IE 8]>
        <script src="http://ecstaticdancedelft.azurewebsites.net/Scripts/front_ie8.js"></script>
    <![endif]-->
    <style>
        #header {
            background: linear-gradient(to bottom, #431bbd 0%, #db4a11 100%) no-repeat border-box;
            background: -moz-linear-gradient(top, #431bbd, #db4a11) no-repeat border-box;
            background: -webkit-gradient(linear, left top, left bottom, from(#431bbd), to(#db4a11)) no-repeat border-box;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#431bbd', endColorstr='#db4a11');
        }

        #site_title {
            font-size: 25px;
        }

        #header nav li a, #header nav li:after {
            font-size: 15px;
            color: #cedee0;
        }

        #mobile_nav svg path {
            fill: #cedee0;
        }

        #header nav li:hover a, #header nav li.current-menu-item a, #header nav li.current_page_parent a, #header nav li.current-page-ancestor a {
            color: #ffffff;
        }

        .ve-header-type1c #header:not(.is-mobile_menu) nav li:hover span,
        .ve-header-type1c #header:not(.is-mobile_menu) nav li.current-menu-item span,
        .ve-header-type1c #header:not(.is-mobile_menu) nav li.current_page_parent span,
        .ve-header-type1c #header:not(.is-mobile_menu) nav li.current-page-ancestor span {
            background-color: #ffffff;
        }

        #header nav #site_header_nav {
        }

        #header .sub-menu {
            background: #ffffff;
        }

        #header nav li.menu-item .sub-menu a,
        .header_s3 #site_header_nav li:hover a,
        .header_s3 #site_header_nav li.current-menu-item a,
        .header_s3 #site_header_nav li.current-page-ancestor a,
        .header_s3 #site_header_nav li.current_page_parent a,
        .ve-header-type8 #header nav li:hover a,
        .ve-header-type8 #header nav li.current-menu-item a,
        .ve-header-type8 #header nav li.current-page-ancestor a,
        .ve-header-type8 #header nav li.current_page_parent a,
        .ve-header-type5 #header nav li:hover a,
        .ve-header-type5 #header nav li.current-menu-item a,
        .ve-header-type5 #header nav li.current-page-ancestor a,
        .ve-header-type5 #header nav li.current_page_parent a,
        .ve-header-type4 #header nav li:hover a,
        .ve-header-type4 #header nav li.current-menu-item a,
        .ve-header-type4 #header nav li.current-page-ancestor a,
        .ve-header-type4 #header nav li.current_page_parent a {
            color: #ffffff;
        }

        #header nav li.menu-item .sub-menu li.menu-item-has-children > a::after {
            border-color: #ffffff;
        }

        body {
            background-color: #41a0a9;
            font-size: 16px;
            font-family: 'Open Sans';
            font-weight: 400;
            line-height: 1.5em;
            background-color: #41a0a9;
        }

        input, textarea {
            font-size: 16px;
            font-family: 'Open Sans';
            font-weight: 400;
            line-height: 1.5em;
        }

        a {
        }

        .in_element_content {
            line-height: 1.5;
        }

        h1, h2, h3, h4, h5, h6, .title_element_container, .form_container_title {
            font-family: 'Open Sans';
            font-weight: 400;
        }

        .entry_content h1 {
        }

        .entry_content h2 {
        }

        .entry_content h3 {
        }

        .entry_content h4 {
        }

        .entry_content h5 {
        }

        .entry_content h6 {
        }

        #footer {
            font-size: 14px;
            color: #a8a8a8;
            background: #181a1a;
        }

            #footer a {
                color: #a8a8a8;
            }

        #header_in {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .ve_fixed_header_scrolled #header {
        }

        .ve_fixed_header_scrolled #header_in {
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>

</head>
<body class="home page-template-default page page-id-6 ve-header-type1 ve_list_style1">
    <div id="wrapper">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.8";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <header class="ve_fixed_header">
            <div id="header">
                <div id="header_in" class="fix_width header_in_s1">

                    <a href="http://ecstaticdancedelft.azurewebsites.net" id="site_title" title="ecstaticdancedelft">
                    </a>


                    <a href="#" id="mobile_nav">
                        <span class="mobile_nav_menu">
                            <svg height="32px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z" /></svg>
                        </span>
                        <span class="mobile_nav_close">
                            <svg height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z" /></svg>
                        </span>
                    </a>
                    <nav>
                        <div id="site_header_nav">
                            <div class="menu-ecstatic-dance-delft-container">
                                <ul id="menu-ecstatic-dance-delft" class="menu">
                                    <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-127"><a href="http://ecstaticdancedelft.azurewebsites.net/">Ecstatic Dance</a><span></span></li>
                                    <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://ecstaticdancedelft.azurewebsites.net/Agenda.cshtml">Agenda</a><span></span></li>
                                    <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="http://ecstaticdancedelft.azurewebsites.net/Team.cshtml">Ecstatic Family Delft &#038; Story</a><span></span></li>
                                    <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="http://ecstaticdancedelft.azurewebsites.net/Contact.cshtml">Contact us + Dance Venues</a><span></span></li>
                                </ul>
                            </div>                    <div class="cms_clear"></div>
                        </div>
                    </nav>

                    <div class="cms_clear"></div>
                </div>
            </div>
        </header>
        <div id="content-container">
            <div id="content">
                <div id="row_0" class="row row_basic row_content ve_colored_background">
                    <div class="row_fix_width">
                        <div class="col col-one col-first col-last">
                            <div id="element_0_0_0" class="element_container title_element_container ">
                                <div class="in_element_content ve_title_style_1">
                                    <p style="text-align: center;"><strong>Ecstatic Dance Delft</strong></p>
                                </div>
                            </div><div data-animation="fadeInLeft" id="element_0_0_1" class="element_container link_element_container  ve_animation"><p class="ve_content_link_left"><a class="ve_content_link" href="http://ecstaticdancedelft.azurewebsites.net/Agenda.cshtml">Next SUNDAY MORNING Ecstatic Dance - 10 DECEMBER 2017 - 11:00 / 13:00 Lijm&amp;Cultuur Delft</a></p></div><div data-animation="fadeInLeft" id="element_0_0_2" class="element_container link_element_container  ve_animation">
                                <p class="ve_content_link_left">
                                    <a class="ve_content_link" href="http://ecstaticdancedelft.azurewebsites.net/Agenda.cshtml">
                                        Next FRIDAY EVENING Ecstatic Dance - 22 DECEMBER 2017 - 19:00 / 22:30 Freinetschool
                                        Delft
                                    </a>
                                </p>
                            </div><div data-animation="fadeInLeft" id="element_0_0_3" class="element_container link_element_container  ve_animation"><p class="ve_content_link_left"><a class="ve_content_link" href="http://ecstaticdancedelft.azurewebsites.net/Agenda.cshtml">Every second Sunday morning and every fourth Friday evening in the month</a></p></div><div id="element_0_0_4" class="element_container text_element_container  element_container_max_width">
                                <div class="in_element_content entry_content ve_content_text  element_text_li element_text_size_medium element_text_style_1 element_text_li">
                                    <p style="text-align: center;"> </p>
                                    <p style="text-align: center;"><strong>If you have a body, you are a dancer</strong></p>
                                    <p style="text-align: center;"><em>                                                   Gabrielle Roth</em></p>
                                    <p style="text-align: center;"> </p>
                                    <p style="text-align: center;"><strong>Ecstatic Dance is</strong></p>
                                    <p style="text-align: center;">what you make of it...</p>
                                    <p style="text-align: center;">a freeform movement space where:<br />dance expands<br />spirit activates<br />boundaries melt<br />boredom ceases<br />creativity breaks out<br />hope happens<br />beauty flows<br />communities collaborate<br />ritual is reinvented<br />harmony resonates<br />The beat deepens<br />as an electronic tapestry<br />of world rhythms<br />weave us together<br />as individuals<br />within a greater family.</p>
                                </div>
                            </div><div id="element_0_0_5" class="element_container like_element_container "><div class="fb-like ve_center" data-href="https://www.facebook.com/EcstaticDanceDelft" data-width="450" data-colorscheme="light" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div></div><div data-animation="pulse" id="element_0_0_6" class="element_container text_element_container  ve_animation">
                                <div class="in_element_content entry_content ve_content_text  element_text_li34 element_text_size_medium element_text_style_1 element_text_li34">
                                    <p style="text-align: center;"><strong>Contact and reservations: </strong></p>
                                    <p style="text-align: center;"><strong>Eva  - eva@evaberger.eu</strong></p>
                                    <p style="text-align: center;"><strong>Phone: 0623883406</strong></p>
                                </div>
                            </div>
                        </div><div class="cms_clear"></div>
                    </div>
                </div><div id="row_1" class="row row_basic row_content">
                    <div class="row_fix_width">
                        <div class="col col-one col_1_0 col-first col-last">
                            <div id="element_1_0_0" class="element_container title_element_container ">
                                <div class="in_element_content ve_title_style_1">
                                    <h2 style="text-align: center;">Ecstatic Dance Delft Team</h2>
                                </div>
                            </div><div id="element_1_0_1" class="element_container features_element_container ">
                                <div class="in_element_content in_features_element in_features_element_1">
                                    <div class="elcol feature_col_image col-two col-first ">
                                        <div class="feature_image"><img src="http://ecstaticdancedelft.azurewebsites.net/Images/Eva-from-Robbert-240x300.jpg" alt="" /></div><div class="feature_text">
                                            <h3>Eva Berger</h3><p><span style="background-color: rgb(240, 86, 48);">Eva loves to travel with the people through emotions. Music is great tool for these journeys. Eva is creating also other journeys by theater, dance, martial arts, workshops. Eva comes from Prague, where she was a theater director. One day she falls in love and decided to let her theater go and move to Holland to her love Saryo and two beautiful step daughters. She is living in Delfgauw, giving performances and workshops in Rotterdam, Delft and Den Haag. She likes to dj from the feeling of the present moment, follow the energy of the group. Lets dive into her musical adventure of global sounds and deep rumbling tunes.</span></p>
                                        </div><div class="cms_clear"></div>
                                    </div><div class="elcol feature_col_image col-two  "><div class="feature_image"><img src="http://ecstaticdancedelft.azurewebsites.net/Images/SARYO-1-300x200.jpg" alt="" /></div><div class="feature_text"><h3>Saryo van Lakerveld</h3><p><span style="background-color: rgb(240, 86, 48);">Ik hou van spannend draaien en wil mensen altijd naar een extatisch punt toebrengen. Niet alleen door hard of heftig, maar meer door de subtiele tonen van de muziek. Zo bewerk ik de energie in de ruimte. Eigenlijk hou ik heel erg van de trance die de muziek kan creëren. Ik ben docent van De Vijf Ritmes en dat is mijn passie, hobby en mijn levensstijl. Dans en bewegen is voor mij onlosmakelijk verbonden met het leven, het IS leven. Hoop je te ontmoeten op de dansvloer.</span></p></div><div class="cms_clear"></div></div><div class="cms_clear"></div><div class="elcol feature_col_image col-two col-first feature_row"><div class="feature_image"><img src="http://ecstaticdancedelft.azurewebsites.net/Images/anita-eva-169x300.jpg" alt="" /></div><div class="feature_text"><h3>Anita Boone</h3><p><span style="background-color: rgb(240, 86, 48);">Anita is theatermaker, journalist and longterm dancer. From her theater talent concludes the possibility to create beautiful, clever and inspiring interactive instalation - altars. Anita is living with her love Erik and her two step children in Delft.</span></p></div><div class="cms_clear"></div></div><div class="elcol feature_col_image col-two  feature_row"><div class="feature_image"><img src="http://ecstaticdancedelft.azurewebsites.net/Images/eric2-300x169.jpg" alt="" /></div><div class="feature_text"><h3>Erik van den Berg</h3><p><span style="background-color: rgb(240, 86, 48);">Er is veel mooie muziek waarop je fijn kan dansen. Het is de kunst om deze muziek in de juiste volgorde te zetten en op het juiste moment te draaien. DJ Erik houdt ervan om de muziek in een wave op en af te bouwen. Met name in het middenstuk wordt naar een climax toegewerkt met heerlijke melodieuze en vooral ritmische muziek. Lekker dansen is gelijk aan goed in je lichaam komen en in de flow komen. Gedachten worden tijdloos en je ontspant. Dat geeft weer goede energie en inspiratie voor de volgende dagen. Behalve Ecstatic Dance doet Erik ook graag Biodanza en hij is af en toe ook DJ op Biodanzaparty's.</span></p></div><div class="cms_clear"></div></div><div class="cms_clear"></div><div class="cms_clear"></div>
                                </div>
                            </div>
                        </div><div class="cms_clear"></div>
                    </div>
                </div><div id="row_2" class="row row_basic row_content"><div class="row_fix_width"><div class="col col-one col_2_0 col-first col-last"></div><div class="cms_clear"></div></div></div>
            </div>
        </div>

        <footer>
            <style>
                #row_0 {
                    background: #eb7311 url(http://ecstaticdancedelft.azurewebsites.net/Images/17-cut.jpg);
                    background-position: center center;
                    background-repeat: repeat-y;
                    -webkit-background-size: cover;
                    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://ecstaticdancedelft.azurewebsites.net/Images/17-cut.jpg',sizingMethod='scale');
                    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://ecstaticdancedelft.azurewebsites.net/Images/17-cut.jpg', sizingMethod='scale');
                    height: auto;
                    background-attachment: fixed;
                    padding-bottom: 90px;
                    font-size: 55px;
                    color: #121212;
                    border-bottom: 0px solid;
                    border-top: 6px solid;
                }

                    #row_0 h2, #row_0 h1, #row_0 h3, #row_0 h4, #row_0 h5, #row_0 h6, #row_0 .title_element_container, #row_0 .form_container_title {
                        color: #121212;
                    }

                    #row_0:before {
                        background-color: #eb7311;
                        zoom: 1;
                        filter: alpha(opacity=75);
                        opacity: 0.75;
                    }

                #element_0_0_0 {
                    margin-bottom: 15px;
                    margin-top: 0px;
                }

                    #element_0_0_0 h1, #element_0_0_0 h2, #element_0_0_0 h3, #element_0_0_0 h4, #element_0_0_0 h5, #element_0_0_0 h6, #element_0_0_0 p {
                        font-size: 60px;
                        color: #140502;
                    }

                    #element_0_0_0 .ve_title_decoration {
                    }

                #element_0_0_1 {
                    margin-bottom: 20px;
                    margin-top: 0px;
                }

                    #element_0_0_1 a.ve_content_link {
                        font-size: 17px;
                        font-family: 'Arial Black';
                        color: #121212;
                        font-weight: normal;
                    }

                #element_0_0_2 {
                    margin-bottom: 20px;
                    margin-top: 0px;
                }

                    #element_0_0_2 a.ve_content_link {
                        font-size: 17px;
                        font-family: 'Arial Black';
                        color: #121212;
                        font-weight: normal;
                    }

                #element_0_0_3 {
                    margin-bottom: 20px;
                    margin-top: 0px;
                }

                    #element_0_0_3 a.ve_content_link {
                        font-size: 17px;
                        font-family: 'Arial Black';
                        color: #121212;
                        font-weight: normal;
                    }

                #element_0_0_4 {
                    margin-bottom: 20px;
                    margin-top: 0px;
                }

                    #element_0_0_4 .in_element_content {
                        font-size: 18px;
                        max-width: 800px;
                    }

                #element_0_0_6 {
                    margin-bottom: 20px;
                    margin-top: 0px;
                }

                    #element_0_0_6 .in_element_content {
                        font-size: 17px;
                        font-family: 'Arial Black';
                        color: #e8f04d;
                        font-weight: bold;
                        line-height: 0.8em;
                    }

                #row_1 {
                    background: #f05630;
                    padding-bottom: 90px;
                    color: #cedee0;
                    padding-top: 80px;
                    border-bottom: 0px solid;
                    border-top: 0px solid;
                }

                    #row_1 h2, #row_1 h1, #row_1 h3, #row_1 h4, #row_1 h5, #row_1 h6, #row_1 .title_element_container, #row_1 .form_container_title {
                        color: #cedee0;
                    }

                #element_1_0_0 {
                    margin-bottom: 60px;
                    margin-top: 0px;
                }

                    #element_1_0_0 h1, #element_1_0_0 h2, #element_1_0_0 h3, #element_1_0_0 h4, #element_1_0_0 h5, #element_1_0_0 h6, #element_1_0_0 p {
                        font-size: 42px;
                        color: #ffffff;
                    }

                    #element_1_0_0 .ve_title_decoration {
                    }

                #wrapper #element_1_0_1 h3, #cboxWrapper #element_1_0_1 h3 {
                    font-size: 24px;
                    color: #ffffff;
                }

                #wrapper #element_1_0_1 p, #cboxWrapper #element_1_0_1 p {
                    font-size: 15px;
                }

                #row_2 {
                    background: #ffffff;
                    padding-bottom: 100px;
                    padding-top: 80px;
                    border-bottom: 0px solid;
                    border-top: 0px solid;
                }

                screen and (max-width: 640px) {
                    #element_0_0_0 h1,#element_0_0_0 h2,#element_0_0_0 h3,#element_0_0_0 h4,#element_0_0_0 h5,#element_0_0_0 h6,#element_0_0_0 p;

                {
                    font-size: 50px;
                }

                }

                screen and (max-width: 480px) {
                    #element_0_0_0 h1,#element_0_0_0 h2,#element_0_0_0 h3,#element_0_0_0 h4,#element_0_0_0 h5,#element_0_0_0 h6,#element_0_0_0 p;

                {
                    font-size: 35px;
                }

                #element_1_0_0 h1, #element_1_0_0 h2, #element_1_0_0 h3, #element_1_0_0 h4, #element_1_0_0 h5, #element_1_0_0 h6, #element_1_0_0 p {
                    font-size: 35px;
                }

                }
            </style><link rel='stylesheet' id='ve_animate_style-css' href='http://ecstaticdancedelft.azurewebsites.net/Content/animate.css?ver=4.7' type='text/css' media='all' />
            <link rel='stylesheet' id='ve_lightbox_style-css' href='http://ecstaticdancedelft.azurewebsites.net/Content/lightbox.css?ver=4.7' type='text/css' media='all' />
            <link rel='stylesheet' id='font_icon_style-css' href='http://ecstaticdancedelft.azurewebsites.net/Content/fontello.css?ver=4.7' type='text/css' media='all' />
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/velocity.min.js?ver=1'></script>
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/front_menu.js?ver=1'></script>
            <script type='text/javascript'>
                /* <![CDATA[ */
                var ajaxurl = "http:\/\/ecstaticdancedelft.azurewebsites.net\/wp-admin\/admin-ajax.php";
                var front_texts = { "required": "Mus\u00edte vyplnit v\u0161echny povinn\u00e9 \u00fadaje.", "wrongemail": "Emailov\u00e1 adresa nen\u00ed platn\u00e1. Zkontrolujte pros\u00edm zda je vypln\u011bna spr\u00e1vn\u011b." };
                /* ]]> */
            </script>
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/front.js?ver=1508289305'></script>
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/wp-embed.min.js?ver=4.7'></script>
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/comment-reply.min.js?ver=4.7'></script>
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/waypoints.min.js?ver=1'></script>
            <script type='text/javascript' src='http://ecstaticdancedelft.azurewebsites.net/Scripts/lightbox.js?ver=1508289305'></script>
        </footer>
    </div>  <!-- wrapper -->
    <script type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = { "beacon": "bam.nr-data.net", "licenseKey": "a0000aad75", "applicationID": "19464102", "transactionName": "b1RUbUUHWEoCWhZeXFYed1pDD1lXTEkDUFY=", "queueTime": 0, "applicationTime": 177, "atts": "QxNXGw0dS0Q=", "errorBeacon": "bam.nr-data.net", "agent": "" }</script>
</body>

</html>
